<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alryada.etqan">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".Helpers.ApplicationClass"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CreditCardActivity"></activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"></activity>
        <activity android:name=".SignUpActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_apis_key" />

        <service android:name=".Helpers.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".MakeOrderActivity"></activity>
        <activity android:name=".AboutActivity"></activity>
        <activity android:name=".WalletActivity"></activity>
        <activity android:name=".NotificationActivity"></activity>
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".RateOrderActivity"></activity>
        <activity android:name=".OrderDetailsActivity"></activity>
        <activity android:name=".ShowCaseActivity"></activity>
        <activity android:name=".IntroActivity" />
        <activity android:name=".ForgetPasswordActivity"></activity>
        <activity
            android:name="com.payfort.fort.android.sdk.activities.InitSecureConnectionActivity"
            android:configChanges="locale|orientation|screenSize"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.payfort.fort.android.sdk.activities.CreditCardPaymentActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.payfort.fort.android.sdk.activities.CreditCardResponseActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>